<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JoinBiz</title>
</head>

<body>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">기업정보등록</h3>
                        </div>
                        <div class="panel-body">

                            <form role="form" method="post" action="/write/company">
                                <fieldset>
                                    <div class="form-group">
                                        <label>기업명</label>
                                        <input class="form-control" placeholder="기업명"
                                               name="name" id="name" type="text" value="" autofocus>
                                        <span th:text="${valid_name}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>주소</label>
                                        <input class="form-control" placeholder="주소" id="address"
                                               name="address" type="text" value="">
                                        <a href="#" class="btn btn-lg btn-block" id="addressSearch">주소 찾기</a>
                                        <span th:text="${valid_address}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>상세 주소</label>
                                        <input class="form-control" placeholder="상세주소" id="addressDetail"
                                               name="addressDetail" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label>사업자등록번호</label>
                                        <input class="form-control" placeholder="사업자등록번호"
                                               name="irs" type="text" value="">
                                        <span th:text="${valid_irs}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>기업소개</label>
                                        <textarea th:class="form-control" placeholder="기업소개" name="descript"></textarea>
                                        <span th:text="${valid_descript}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>서비스 URL</label>
                                        <input class="form-control" placeholder="http://서비스"
                                               name="site" type="text" value="">
                                    </div>

                                    <a href="#" class="btn btn-lg btn-success btn-block">기업정보등록</a>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>
<script>
    $(document).ready(function () {
        // event
        $("#addressSearch").on("click", f.addressSearch());
        $(".btn-success").on("click", d.send());
    });

    const f = {
        addressSearch: function () {
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("address").value = data.address; // 주소 넣기
                    document.querySelector("input[name=addressDetail]").focus(); //상세입력 포커싱
                }
            }).open();
        }
    }

    const d = {
        send: function () {
            $("form").submit();
        }
    }
</script>
<script type="text/javascript">

    /*$("#addressSearch").on("click", function (e) {
        console.log('address');
        new daum.Postcode({
            oncomplete: function (data) { //선택시 입력값 세팅
                document.getElementById("address").value = data.address; // 주소 넣기
                document.querySelector("input[name=addressDetail]").focus(); //상세입력 포커싱
            }
        }).open();
    });*/

    /*$(".btn-success").on("click", function (e) {
        $("form").submit();
    });*/

</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>

</html>
